body{
    display: flex;
    height: 100vh;
    font-family: sans-serif;
}
.columna-izquierda{
    flex: 2;
    padding: 20px;
    background-color: #0e7c74;
}
.columna-derecha{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.box-derecha{
    flex: 1;
    border: 1px solid lightgray;
    padding: 24px;
}