body{
    font-family: sans-serif;
}
.titulo{
    display: flex;
    align-items: center;
    background-color: darkorange;
    justify-content: center;
}
.contenedor{
    display: flex;
    height: 100vh;
}
.contenedor-izquierdo{
    display: flex;
    justify-content: center;
    background-color: grey;
    flex: 1;
    padding: 24px;
    color: white;
}
.contenedor-central{
    display: flex;
    justify-content: center;
    flex: 2;
    padding: 24px;
}
.contenedor-derecho{
    display: flex;
    justify-content: center;
    background-color: grey;
    flex: 1;
    padding: 24px;
    color: white;
}